@import url("https://fonts.googleapis.com/css?family=Lora|Montserrat:400,700,800");

.Project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Project-photo {
  position: absolute;
  width: 500px;
  margin: 30px;
  /* width: 350px;
    height: 400px;
    margin: 10px; */
  border-radius: 30px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.Overlay {
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 500px;
  height: 400px;
  opacity: 0;
  margin: 30px;
  background-color: white;
  text-align: center;
  transition: 0.6s ease;
  border-radius: 30px;
  box-shadow: 0 2px 2px 0 rgba(171, 171, 171, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Overlay:hover:not(.Project-title) {
  opacity: 0.9;
}

.Project-title {
  position: block;
  margin-top: 110px;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 1;
  color: #ffa941;
  z-index: 100;
  font-family: BrandonGrotesque-Black, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  text-decoration: none;
}

.Project-descrip {
  margin: 10px auto;
  width: 68%;
  opacity: 1;
  color: black;
  z-index: 100;
  font-family: GoogleSans-Regular, sans-serif;
  font-size: 16px;
  text-decoration: none;
}
