.landing-container {
  align-items: center;
  height: 40vw;
  justify-content: center;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.landing-text {
  width: 30vw;
  height: 250px;
  margin: 120px 5% 5% 8%;
}

.text {
  padding-left: 5%;
  width: 80%;
}

.icon {
  align-items: center;
  height: inherit;
  justify-content: center;
  width: 40%;
  @media (max-width: 899px) {
    display: none;
  }
}

@media (max-width: 799px) {
  .landing-container {
    display: none;
  }
}

.icon-background {
  height: 25vw;
  margin-top: 100px;
  z-index: -1;
}

.icon-body {
  height: 25vw;
  position: relative;
  /* position: absolute;
  width: 18%; */
  margin-top: -70%;
  margin-left: 40%;
}

.laptop {
  position: absolute;
  height: 7vw;
  top: calc(46vw * 0.5);
  left: 63vw;
}

@media (max-width: 1400px) {
  .laptop {
    top: calc(53vw * 0.5);
  }
}

@media (max-width: 1050px) {
  .laptop {
    top: calc(63vw * 0.5);
  }
}

@media (max-width: 900px) {
  .laptop {
    top: calc(68vw * 0.5);
  }
}

.Hello {
  display: block;
  text-align: left;
  font-family: BrandonGrotesque-Black, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 46px;
  color: #ffb29d;
  margin: 0;
}

.translate {
  animation: translate 3s infinite;
}

@keyframes translate {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
