.landing-container {
  width: 90%;
  display: flex;
  flex-direction: row;
}

.landing-text {
  width: 60%;
  height: 250px;
  margin-top: 210px;
  margin-left: 10%;
  display: block;
}

.text {
  display: inline-block;
  padding-left: 5%;
  width: 80%;
}

.icon {
  margin-right: 10%;
  display: inline-block;
  align-content: center;
  padding-right: 20px;
  height: 50%;
  width: 50%;
}

.icon-background {
  position: absolute;
  top: 27%;
  left: 680px;
  width: 42%;
  z-index: -1;
}

.icon-body {
  position: absolute;
  width: 18%;
  top: 35%;
  left: 850px;
}

.laptop {
  position: absolute;
  width: 12%;
  top: 60%;
  left: 780px;
  margin-left: auto;
  margin-right: auto;
}

.Hello {
  display: block;
  text-align: left;
  font-family: BrandonGrotesque-Black, sans-serif;
  font-style: normal;
  font-size: 46px;
  color: #ffb29d;
  margin: 0;
}

.translate {
  animation: translate 3s infinite;
}

@keyframes translate {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
