.About {
  display: block;
  margin-bottom: 80px;
}

.Headshot {
  display: inline-block;
  width: 30%;
  height: 30%;
}

.about-body {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.active-link {
  background-color: #eaf7f9;
  border-radius: 7px;
}

.About-title {
  font-family: BrandonGrotesque-Black, sans-serif;
  font-size: 30px;
}

.Personal-intro {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-family: GoogleSans-Regular, sans-serif;
  font-size: 17px;
  line-height: 24px;
  color: rgb(109, 109, 109);
}

.about-text {
  width: 60%;
}

.text {
  display: inline;
  font-weight: 600;
  padding: 0;
  color: #e1927d;
}

.text:hover {
  background-color: #ffece7;
  border-radius: 5px;
}

.lessbold-text {
  color: rgb(0, 0, 0);
}

.lessbold-text:hover {
  color: rgb(148, 148, 148);
}

.codebase {
  color: #3d4ab0;
}

.codebase:hover {
  color: #8f98de;
}

.innod {
  color: #4cafcd;
}

.innod:hover {
  color: #9fd4e4;
}

.letseat {
  color: #ff4848;
}

.letseat:hover {
  color: #ff8383;
}

@media (max-width: 799px) {
  .about-body {
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
  }
  .about-text {
    width: 80%;
  }
  .About-title {
    margin: 30px 0 0 0;
    text-align: center;
  }
}
