@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat:800');

.Link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

/* .link {
    font-family: 'Montserrat', sans-serif;
    padding: 26px 40px;
    font-size: 13px;
    color: white;
    text-decoration: none;
} */

.link:hover {
    -webkit-text-stroke: white 1px;
}

